body {
    background-color: #f7f8fb;
}

.container {
    margin: auto;
    padding: 0px 60px;
    width: 75%;
    height: 100vh;
    font-size: 16px;
    background-color: white;
}

.basic {
    border-bottom: 2px solid lightgrey;
}

.button {
    display: flex;
    align-items: baseline;
}

button {
    background-color: #1c74d4;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 10px 30px 10px;
    height: 40px;
    width: 130px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 550;
}

.project_desc {
    margin: 0;
    padding: 15px 0px;
    border-bottom: 2px solid lightgrey;
}

.project_desc .title {
    font-size: 16px;
    font-weight: 520;
    margin-bottom: 30px;
}

.project_desc .sub_title {
    font-size:14px;
    font-weight:520;
    margin: 20px 0px;
}

.project_desc .description {
    font-size: 12px;
}